//Von Microsoft Visual C++ generiertes Ressourcenskript.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Aus der TEXTINCLUDE-Ressource generiert.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#include "winresrc.h"
#include "commonres.h"
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""winresrc.h""\r\n"
    "#include ""commonres.h""\r\n"
    "\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#include ""commonres.rc""\r\n"
    "#include ""menu.rc""\r\n"
    "#include ""dialogs.rc""\r\n"
    "#include ""strings.rc""\r\n"
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Aus der TEXTINCLUDE-Ressource generiert.
//
#include "commonres.rc"
#include "menu.rc"
#include "dialogs.rc"
#include "strings.rc"


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
